node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production
google-services.json
GoogleService-Info.plist
functions/lib/
functions/node_modules/
